{
  "openapi": "3.1.0",
  "info": {
    "title": "SocQ Agent API 中文版",
    "version": "v1-535044043eab",
    "description": "根据 SocQ 能力目录生成的异步社交数据 API。"
  },
  "servers": [
    {
      "url": "https://api.socq.ai"
    }
  ],
  "paths": {
    "/v1/amazon/best-sellers": {
      "post": {
        "operationId": "socq_amazon_best_sellers",
        "summary": "Amazon Best Sellers",
        "description": "获取 Amazon 的标准化公开 Best Sellers 数据。",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-detail": {
      "post": {
        "operationId": "socq_amazon_product_detail",
        "summary": "Amazon Products",
        "description": "获取 Amazon 的标准化公开 Products 数据。",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-search": {
      "post": {
        "operationId": "socq_amazon_product_search",
        "summary": "Amazon Search",
        "description": "获取 Amazon 的标准化公开 Search 数据。",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  }
                },
                "required": [
                  "domain",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/reviews": {
      "post": {
        "operationId": "socq_amazon_reviews",
        "summary": "Amazon Reviews",
        "description": "获取 Amazon 的标准化公开 Reviews 数据。",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/seller-info": {
      "post": {
        "operationId": "socq_amazon_seller_info",
        "summary": "Amazon Sellers",
        "description": "获取 Amazon 的标准化公开 Sellers 数据。",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/SellerItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/app-detail": {
      "post": {
        "operationId": "socq_apple_app_store_app_detail",
        "summary": "Apple App Store Apps",
        "description": "获取 Apple App Store 的标准化公开 Apps 数据。",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AppItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/app-reviews": {
      "post": {
        "operationId": "socq_apple_app_store_app_reviews",
        "summary": "Apple App Store Reviews",
        "description": "获取 Apple App Store 的标准化公开 Reviews 数据。",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/rankings": {
      "post": {
        "operationId": "socq_apple_app_store_rankings",
        "summary": "Apple App Store Rankings",
        "description": "获取 Apple App Store 的标准化公开 Rankings 数据。",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AppItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/post": {
      "post": {
        "operationId": "socq_bluesky_post",
        "summary": "Bluesky Posts",
        "description": "获取 Bluesky 的标准化公开 Posts 数据。",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "包含 authority 的非空帖子地址，解析后的主机名必须为 bsky.app 或其子域名；任意 scheme 均可使用，但必须包含 authority 和 hostname，同时支持协议相对地址。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/profile": {
      "post": {
        "operationId": "socq_bluesky_profile",
        "summary": "Bluesky Profiles",
        "description": "获取 Bluesky 的标准化公开 Profiles 数据。",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "由 1 到 253 个 ASCII 字母、数字、点或连字符组成，且不带开头 @ 的 Bluesky username。",
                    "maxLength": 253,
                    "pattern": "^[A-Za-z0-9.-]{1,253}$"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/user-posts": {
      "post": {
        "operationId": "socq_bluesky_user_posts",
        "summary": "Bluesky User Posts",
        "description": "获取 Bluesky 的标准化公开 User Posts 数据。",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "采用 did:method:identifier 格式的 Bluesky 去中心化标识符。",
                    "pattern": "^did:[a-z0-9]+:[A-Za-z0-9._:%-]+$"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "由 1 到 253 个 ASCII 字母、数字、点或连字符组成，且不带开头 @ 的 Bluesky handle。",
                    "maxLength": 253,
                    "pattern": "^[A-Za-z0-9.-]{1,253}$"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "user_id"
                    ]
                  },
                  {
                    "required": [
                      "username"
                    ]
                  }
                ],
                "allOf": [
                  {
                    "not": {
                      "required": [
                        "user_id",
                        "username"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/live-room-detail": {
      "post": {
        "operationId": "socq_douyin_live_room_detail",
        "summary": "抖音 Live Room Info",
        "description": "获取 抖音 的标准化公开 Live Room Info 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/LiveRoomItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "room_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开直播间的 ID。"
                  }
                },
                "required": [
                  "room_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/product-data": {
      "post": {
        "operationId": "socq_douyin_product_data",
        "summary": "抖音 Live Room Products",
        "description": "获取 抖音 的标准化公开 Live Room Products 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "author_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public author identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "room_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开直播间的 ID。"
                  }
                },
                "required": [
                  "author_id",
                  "room_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/user-profile": {
      "post": {
        "operationId": "socq_douyin_user_profile",
        "summary": "抖音 Profiles",
        "description": "获取 抖音 的标准化公开 Profiles 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开账号的 ID。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "user_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/user-videos": {
      "post": {
        "operationId": "socq_douyin_user_videos",
        "summary": "抖音 User Videos",
        "description": "获取 抖音 的标准化公开 User Videos 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开账号的 ID。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "user_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-comments": {
      "post": {
        "operationId": "socq_douyin_video_comments",
        "summary": "抖音 Comments",
        "description": "获取 抖音 的标准化公开 Comments 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-detail": {
      "post": {
        "operationId": "socq_douyin_video_detail",
        "summary": "抖音 Videos",
        "description": "获取 抖音 的标准化公开 Videos 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-search": {
      "post": {
        "operationId": "socq_douyin_video_search",
        "summary": "抖音 Search",
        "description": "获取 抖音 的标准化公开 Search 数据。",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/ad": {
      "post": {
        "operationId": "socq_facebook_ad_library_ad",
        "summary": "广告详情",
        "description": "采集一则公开 Facebook Ad Library 广告的详细信息。",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-ads": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_ads",
        "summary": "公司广告",
        "description": "采集 Facebook Ad Library 页面 ID 的公共广告。",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "description": "国家或地区筛选条件。"
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选结束日期，格式为 YYYY-MM-DD。"
                  },
                  "language": {
                    "type": "string",
                    "minLength": 1,
                    "description": "语言代码或语言筛选条件。"
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1,
                    "description": "媒体类型筛选条件。"
                  },
                  "page_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开主页的 ID。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1,
                    "description": "结果排序方式。"
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选开始日期，格式为 YYYY-MM-DD。"
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1,
                    "description": "状态筛选条件。"
                  }
                },
                "required": [
                  "page_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-search": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_search",
        "summary": "公司搜索",
        "description": "查找 Facebook Ad Library 公司和页面 ID。",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/search": {
      "post": {
        "operationId": "socq_facebook_ad_library_search",
        "summary": "广告搜索",
        "description": "按关键字搜索公开的 Facebook Ad Library 广告。",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "ad_type": {
                    "type": "string",
                    "minLength": 1,
                    "description": "广告类型筛选条件。"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1,
                    "description": "国家或地区筛选条件。"
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选结束日期，格式为 YYYY-MM-DD。"
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1,
                    "description": "媒体类型筛选条件。"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "search_type": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索类型。"
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1,
                    "description": "结果排序方式。"
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选开始日期，格式为 YYYY-MM-DD。"
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1,
                    "description": "状态筛选条件。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/item": {
      "post": {
        "operationId": "socq_facebook_marketplace_item",
        "summary": "Marketplace 商品详情",
        "description": "通过 URL 采集公共 Facebook Marketplace 商品详情。",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/location-search": {
      "post": {
        "operationId": "socq_facebook_marketplace_location_search",
        "summary": "Marketplace 位置搜索",
        "description": "查找 Facebook Marketplace 位置和坐标。",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/MarketplaceLocationItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/search": {
      "post": {
        "operationId": "socq_facebook_marketplace_search",
        "summary": "Marketplace 搜索",
        "description": "搜索公开的 Facebook Marketplace 列表。",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "type": "string",
                    "minLength": 1,
                    "description": "商品可用状态筛选条件。"
                  },
                  "condition": {
                    "type": "string",
                    "minLength": 1,
                    "description": "商品成色筛选条件。"
                  },
                  "date_listed": {
                    "type": "string",
                    "minLength": 1,
                    "description": "发布时间筛选条件。"
                  },
                  "delivery_method": {
                    "type": "string",
                    "minLength": 1,
                    "description": "配送方式筛选条件。"
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90,
                    "description": "搜索中心点纬度，范围为 -90 到 90。"
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180,
                    "description": "搜索中心点经度，范围为 -180 到 180。"
                  },
                  "max_price": {
                    "type": "number",
                    "minimum": 0,
                    "description": "最高价格筛选条件。"
                  },
                  "min_price": {
                    "type": "number",
                    "minimum": 0,
                    "description": "最低价格筛选条件。"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "radius_km": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "description": "以公里为单位的搜索半径。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1,
                    "description": "结果排序方式。"
                  }
                },
                "required": [
                  "latitude",
                  "longitude",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/ad-transcript": {
      "post": {
        "operationId": "socq_facebook_ad_transcript",
        "summary": "Facebook 广告转录",
        "description": "采集公开 Facebook 广告的转录文本。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comment-replies": {
      "post": {
        "operationId": "socq_facebook_comment_replies",
        "summary": "Facebook 评论回复",
        "description": "采集公开 Facebook 评论的回复。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "comment_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开评论的 ID。"
                  },
                  "expansion_token": {
                    "type": "string",
                    "minLength": 1,
                    "description": "用于读取 Facebook 评论回复的扩展令牌。"
                  },
                  "feedback_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Facebook 父评论的反馈 ID。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "comment_id",
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "expansion_token",
                      "feedback_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comments": {
      "post": {
        "operationId": "socq_facebook_comments",
        "summary": "Facebook 评论",
        "description": "采集公众Facebook评论数据。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/company-reviews": {
      "post": {
        "operationId": "socq_facebook_company_reviews",
        "summary": "Facebook 公司评价",
        "description": "采集公开的 Facebook 公司评论。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/event-details": {
      "post": {
        "operationId": "socq_facebook_event_details",
        "summary": "Facebook 活动详情",
        "description": "采集公开 Facebook 活动的详细数据。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/events-search": {
      "post": {
        "operationId": "socq_facebook_events_search",
        "summary": "Facebook 活动搜索",
        "description": "按关键字搜索公共 Facebook 事件。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 7,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "post": {
        "operationId": "socq_facebook_group_posts",
        "summary": "Facebook 群组帖子",
        "description": "从公共 Facebook 群组采集帖子。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1,
                    "description": "结果排序方式。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/pages": {
      "post": {
        "operationId": "socq_facebook_pages",
        "summary": "Facebook 公共主页",
        "description": "采集公共Facebook页面数据。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开账号用户名列表。每个用户名分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/posts": {
      "post": {
        "operationId": "socq_facebook_posts",
        "summary": "Facebook 帖子",
        "description": "采集公开Facebook发布数据。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开账号用户名列表。每个用户名分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-events": {
      "post": {
        "operationId": "socq_facebook_profile_events",
        "summary": "Facebook 个人资料活动",
        "description": "采集与公开 Facebook 个人资料关联的活动。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-photos": {
      "post": {
        "operationId": "socq_facebook_profile_photos",
        "summary": "Facebook 个人资料照片",
        "description": "采集公开 Facebook 个人资料中的照片。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profiles": {
      "post": {
        "operationId": "socq_facebook_profiles",
        "summary": "Facebook 个人资料",
        "description": "采集公开的 Facebook 个人资料。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/reels": {
      "post": {
        "operationId": "socq_facebook_reels",
        "summary": "Facebook Reels",
        "description": "采集公开 Facebook 个人资料中的 Reels。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "可选的任务完成回调 URL。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/video-transcript": {
      "post": {
        "operationId": "socq_facebook_video_transcript",
        "summary": "Facebook 视频字幕",
        "description": "从公开 Facebook 视频和Reels中提取视频字幕。",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "公开内容、主页或商品 URL 列表。每个 URL 分别应用结果数量上限，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/ad": {
      "post": {
        "operationId": "socq_google_ad_library_ad",
        "summary": "Google 广告详情",
        "description": "采集并标准化公开的 Google 广告详情。",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "公开内容、主页或商品 URL。"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/advertiser-search": {
      "post": {
        "operationId": "socq_google_ad_library_advertiser_search",
        "summary": "Google 广告主搜索",
        "description": "搜索并标准化公开的 Google 广告主数据。",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "搜索关键词。"
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1,
                    "description": "地区代码。"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/company-ads": {
      "post": {
        "operationId": "socq_google_ad_library_company_ads",
        "summary": "Google 公司广告",
        "description": "采集并标准化公开的 Google 公司广告数据。",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "advertiser_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选结束日期，格式为 YYYY-MM-DD。"
                  },
                  "format": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1,
                    "description": "地区代码。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 40,
                    "maximum": 2000,
                    "default": 40,
                    "multipleOf": 40,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1,
                    "description": "筛选开始日期，格式为 YYYY-MM-DD。"
                  },
                  "topic": {
                    "type": "string",
                    "minLength": 1,
                    "description": "请求参数。"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "advertiser_id"
                    ]
                  },
                  {
                    "required": [
                      "domain"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/place-details": {
      "post": {
        "operationId": "socq_google_maps_place_details",
        "summary": "Google 地图 Places",
        "description": "获取 Google 地图 的标准化公开 Places 数据。",
        "tags": [
          "google-maps"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PlaceItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "非空地址列表，解析后的主机名必须为 google.com、goo.gl 或两者的子域名；包含 authority 和 hostname 时可使用任意 scheme，同时支持协议相对地址，且不要求特定路径，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/reviews": {
      "post": {
        "operationId": "socq_google_maps_reviews",
        "summary": "Google 地图 Reviews",
        "description": "获取 Google 地图 的标准化公开 Reviews 数据。",
        "tags": [
          "google-maps"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "days_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "请求参数。"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100,
                    "description": "最多保存的结果数，实际结果可能少于该值。"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "description": "非空地址列表，解析后的主机名必须为 google.com、goo.gl 或两者的子域名；包含 authority 和 hostname 时可使用任意 scheme，同时支持协议相对地址，且不要求特定路径，至少提供 1 项。"
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "任务已受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/search": {
      "post": {
        "operationId": "socq_google_maps_search",
        "summary": "Google 地图 Search",
        "description": "获取 Google 地图 的标准化公开 Search 数据。",
        "tags": [
          "google-maps"
        ],
[...]
