{
  "openapi": "3.1.0",
  "info": {
    "title": "SocQ Agent API",
    "version": "v1-c051f5df2885",
    "description": "Asynchronous social data API generated from the SocQ Capability Registry."
  },
  "servers": [
    {
      "url": "https://api.socq.ai"
    }
  ],
  "paths": {
    "/v1/facebook-ad-library/ad": {
      "post": {
        "operationId": "socq_facebook_ad_library_ad",
        "summary": "Get Facebook Ad Library Ad",
        "description": "Fetch normalized ad data from Facebook Ad Library.",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-ads": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_ads",
        "summary": "Get Facebook Ad Library Company Ads",
        "description": "Fetch normalized company ads data from Facebook Ad Library.",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "page_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public page identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "page_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-search": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_search",
        "summary": "Get Facebook Ad Library Company Search",
        "description": "Fetch normalized company search data from Facebook Ad Library.",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/search": {
      "post": {
        "operationId": "socq_facebook_ad_library_search",
        "summary": "Get Facebook Ad Library Search",
        "description": "Fetch normalized search data from Facebook Ad Library.",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "ad_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "search_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/item": {
      "post": {
        "operationId": "socq_facebook_marketplace_item",
        "summary": "Get Facebook Marketplace Item",
        "description": "Fetch normalized item data from Facebook Marketplace.",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/location-search": {
      "post": {
        "operationId": "socq_facebook_marketplace_location_search",
        "summary": "Get Facebook Marketplace Location Search",
        "description": "Fetch normalized location search data from Facebook Marketplace.",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/MarketplaceLocationItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/search": {
      "post": {
        "operationId": "socq_facebook_marketplace_search",
        "summary": "Get Facebook Marketplace Search",
        "description": "Fetch normalized search data from Facebook Marketplace.",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "type": "string",
                    "minLength": 1
                  },
                  "condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "date_listed": {
                    "type": "string",
                    "minLength": 1
                  },
                  "delivery_method": {
                    "type": "string",
                    "minLength": 1
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "max_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "min_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "radius_km": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "latitude",
                  "longitude",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/ad-transcript": {
      "post": {
        "operationId": "socq_facebook_ad_transcript",
        "summary": "Get Facebook Ad Transcript",
        "description": "Fetch normalized ad transcript data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comment-replies": {
      "post": {
        "operationId": "socq_facebook_comment_replies",
        "summary": "Get Facebook Comment Replies",
        "description": "Fetch normalized comment replies data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "comment_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public comment identifier."
                  },
                  "expansion_token": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The token used to read replies for a Facebook comment."
                  },
                  "feedback_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The parent Facebook comment feedback identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "comment_id",
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "expansion_token",
                      "feedback_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comments": {
      "post": {
        "operationId": "socq_facebook_comments",
        "summary": "Get Facebook Comments",
        "description": "Fetch normalized comments data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/company-reviews": {
      "post": {
        "operationId": "socq_facebook_company_reviews",
        "summary": "Get Facebook Company Reviews",
        "description": "Fetch normalized company reviews data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/event-details": {
      "post": {
        "operationId": "socq_facebook_event_details",
        "summary": "Get Facebook Event Details",
        "description": "Fetch normalized event details data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/events-search": {
      "post": {
        "operationId": "socq_facebook_events_search",
        "summary": "Get Facebook Events Search",
        "description": "Fetch normalized events search data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 7,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "post": {
        "operationId": "socq_facebook_group_posts",
        "summary": "Get Facebook Group Posts",
        "description": "Fetch normalized group posts data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/pages": {
      "post": {
        "operationId": "socq_facebook_pages",
        "summary": "Get Facebook Pages",
        "description": "Fetch normalized pages data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/posts": {
      "post": {
        "operationId": "socq_facebook_posts",
        "summary": "Get Facebook Posts",
        "description": "Fetch normalized posts data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-events": {
      "post": {
        "operationId": "socq_facebook_profile_events",
        "summary": "Get Facebook Profile Events",
        "description": "Fetch normalized profile events data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-photos": {
      "post": {
        "operationId": "socq_facebook_profile_photos",
        "summary": "Get Facebook Profile Photos",
        "description": "Fetch normalized profile photos data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profiles": {
      "post": {
        "operationId": "socq_facebook_profiles",
        "summary": "Get Facebook Profiles",
        "description": "Fetch normalized profiles data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/reels": {
      "post": {
        "operationId": "socq_facebook_reels",
        "summary": "Get Facebook Reels",
        "description": "Fetch normalized reels data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/video-transcript": {
      "post": {
        "operationId": "socq_facebook_video_transcript",
        "summary": "Get Facebook Video Transcript",
        "description": "Fetch normalized video transcript data from Facebook.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/ad": {
      "post": {
        "operationId": "socq_google_ad_library_ad",
        "summary": "Get Google Ad Library Ad",
        "description": "Fetch normalized ad data from Google Ad Library.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/advertiser-search": {
      "post": {
        "operationId": "socq_google_ad_library_advertiser_search",
        "summary": "Get Google Ad Library Advertiser Search",
        "description": "Fetch normalized advertiser search data from Google Ad Library.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/company-ads": {
      "post": {
        "operationId": "socq_google_ad_library_company_ads",
        "summary": "Get Google Ad Library Company Ads",
        "description": "Fetch normalized company ads data from Google Ad Library.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "advertiser_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "format": {
                    "type": "string",
                    "minLength": 1
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 40,
                    "maximum": 2000,
                    "default": 40,
                    "multipleOf": 40
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "topic": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "advertiser_id"
                    ]
                  },
                  {
                    "required": [
                      "domain"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/audio-reels": {
      "post": {
        "operationId": "socq_instagram_audio_reels",
        "summary": "Get Instagram Audio Reels",
        "description": "Fetch normalized audio reels data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "audio_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public Instagram audio identifiers."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  }
                },
                "required": [
                  "audio_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/comments": {
      "post": {
        "operationId": "socq_instagram_comments",
        "summary": "Get Instagram Comments",
        "description": "Fetch normalized comments data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/followers-count": {
      "post": {
        "operationId": "socq_instagram_followers_count",
        "summary": "Get Instagram Followers Count",
        "description": "Fetch normalized followers count data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/followers-list": {
      "post": {
        "operationId": "socq_instagram_followers_list",
        "summary": "Get Instagram Followers List",
        "description": "Fetch normalized followers list data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/RelationshipItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/following-list": {
      "post": {
        "operationId": "socq_instagram_following_list",
        "summary": "Get Instagram Following List",
        "description": "Fetch normalized following list data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/RelationshipItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/hashtag-posts": {
      "post": {
        "operationId": "socq_instagram_hashtag_posts",
        "summary": "Get Instagram Hashtag Posts",
        "description": "Fetch normalized hashtag posts data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Hashtags with or without the # prefix."
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "published_within": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 2000
                  }
                },
                "required": [
                  "hashtags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/highlight-items": {
      "post": {
        "operationId": "socq_instagram_highlight_items",
        "summary": "Get Instagram Highlight Items",
        "description": "Fetch normalized highlight items data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/HighlightItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "highlight_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public Instagram highlight identifiers."
                  }
                },
                "required": [
                  "highlight_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/post-info": {
      "post": {
        "operationId": "socq_instagram_post_info",
        "summary": "Get Instagram Post Info",
        "description": "Fetch normalized post info data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/posts": {
      "post": {
        "operationId": "socq_instagram_posts",
        "summary": "Get Instagram Posts",
        "description": "Fetch normalized posts data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/profiles": {
      "post": {
        "operationId": "socq_instagram_profiles",
        "summary": "Get Instagram Profiles",
        "description": "Fetch normalized profiles data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/reels": {
      "post": {
        "operationId": "socq_instagram_reels",
        "summary": "Get Instagram Reels",
        "description": "Fetch normalized reels data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/reels-search": {
      "post": {
        "operationId": "socq_instagram_reels_search",
        "summary": "Get Instagram Reels Search",
        "description": "Fetch normalized reels search data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "published_within": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/search": {
      "post": {
        "operationId": "socq_instagram_search",
        "summary": "Get Instagram Search",
        "description": "Fetch normalized search data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/story-highlights": {
      "post": {
        "operationId": "socq_instagram_story_highlights",
        "summary": "Get Instagram Story Highlights",
        "description": "Fetch normalized story highlights data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/HighlightItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/tagged-posts": {
      "post": {
        "operationId": "socq_instagram_tagged_posts",
        "summary": "Get Instagram Tagged Posts",
        "description": "Fetch normalized tagged posts data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/transcript": {
      "post": {
        "operationId": "socq_instagram_transcript",
        "summary": "Get Instagram Transcript",
        "description": "Fetch normalized transcript data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/trending-reels": {
      "post": {
        "operationId": "socq_instagram_trending_reels",
        "summary": "Get Instagram Trending Reels",
        "description": "Fetch normalized trending reels data from Instagram.",
        "tags": [
          "instagram"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin-ad-library/ad": {
      "post": {
        "operationId": "socq_linkedin_ad_library_ad",
        "summary": "Get LinkedIn Ad Library Ad",
        "description": "Fetch normalized ad data from LinkedIn Ad Library.",
        "tags": [
          "linkedin-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin-ad-library/search": {
      "post": {
        "operationId": "socq_linkedin_ad_library_search",
        "summary": "Get LinkedIn Ad Library Search",
        "description": "Fetch normalized search data from LinkedIn Ad Library.",
        "tags": [
          "linkedin-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "company": {
                    "type": "string",
                    "minLength": 1
                  },
                  "company_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "countries": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Za-z]{2}$"
                    },
                    "minItems": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "keyword": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 24,
                    "maximum": 2000,
                    "default": 24,
                    "multipleOf": 24
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "company"
                    ]
                  },
                  {
                    "required": [
                      "company_id"
                    ]
                  },
                  {
                    "required": [
                      "keyword"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/companies": {
      "post": {
        "operationId": "socq_linkedin_companies",
        "summary": "Get LinkedIn Companies",
        "description": "Fetch normalized companies data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CompanyItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/company-jobs": {
      "post": {
        "operationId": "socq_linkedin_company_jobs",
        "summary": "Get LinkedIn Company Jobs",
        "description": "Fetch normalized company jobs data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/JobItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/company-posts": {
      "post": {
        "operationId": "socq_linkedin_company_posts",
        "summary": "Get LinkedIn Company Posts",
        "description": "Fetch normalized company posts data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/jobs": {
      "post": {
        "operationId": "socq_linkedin_jobs",
        "summary": "Get LinkedIn Jobs",
        "description": "Fetch normalized jobs data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/JobItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/post-comments": {
      "post": {
        "operationId": "socq_linkedin_post_comments",
        "summary": "Get LinkedIn Post Comments",
        "description": "Fetch normalized post comments data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/posts": {
      "post": {
        "operationId": "socq_linkedin_posts",
        "summary": "Get LinkedIn Posts",
        "description": "Fetch normalized posts data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/profile-posts": {
      "post": {
        "operationId": "socq_linkedin_profile_posts",
        "summary": "Get LinkedIn Profile Posts",
        "description": "Fetch normalized profile posts data from LinkedIn.",
        "tags": [
          "linkedin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
[...]
