{
  "openapi": "3.1.0",
  "info": {
    "title": "SocQ Agent API",
    "version": "v1-57489840196e",
    "description": "Asynchronous social data API generated from the SocQ Capability Registry."
  },
  "servers": [
    {
      "url": "https://api.socq.ai"
    }
  ],
  "paths": {
    "/v1/facebook-ad-library/ad": {
      "post": {
        "operationId": "socq_facebook_ad_library_ad",
        "summary": "Facebook Ad Library Ad API",
        "description": "Facebook Ad Library Ad API",
        "tags": [
          "facebook-ad-library"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-ads": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_ads",
        "summary": "Facebook Ad Library Company Ads API",
        "description": "Facebook Ad Library Company Ads API",
        "tags": [
          "facebook-ad-library"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "page_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public page identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "page_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-search": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_search",
        "summary": "Facebook Ad Library Company Search API",
        "description": "Facebook Ad Library Company Search API",
        "tags": [
          "facebook-ad-library"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/search": {
      "post": {
        "operationId": "socq_facebook_ad_library_search",
        "summary": "Facebook Ad Library Search API",
        "description": "Facebook Ad Library Search API",
        "tags": [
          "facebook-ad-library"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "ad_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "search_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/item": {
      "post": {
        "operationId": "socq_facebook_marketplace_item",
        "summary": "Facebook Marketplace Item API",
        "description": "Facebook Marketplace Item API",
        "tags": [
          "facebook-marketplace"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/location-search": {
      "post": {
        "operationId": "socq_facebook_marketplace_location_search",
        "summary": "Facebook Marketplace Location Search API",
        "description": "Facebook Marketplace Location Search API",
        "tags": [
          "facebook-marketplace"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/search": {
      "post": {
        "operationId": "socq_facebook_marketplace_search",
        "summary": "Facebook Marketplace Search API",
        "description": "Facebook Marketplace Search API",
        "tags": [
          "facebook-marketplace"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "type": "string",
                    "minLength": 1
                  },
                  "condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "date_listed": {
                    "type": "string",
                    "minLength": 1
                  },
                  "delivery_method": {
                    "type": "string",
                    "minLength": 1
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "max_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "min_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "radius_km": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "latitude",
                  "longitude",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comments": {
      "post": {
        "operationId": "socq_facebook_comments",
        "summary": "Facebook Comments API",
        "description": "Facebook Comments API",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/events-search": {
      "post": {
        "operationId": "socq_facebook_events_search",
        "summary": "Facebook Events Search API",
        "description": "Search public Facebook events by keyword.",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 7,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "post": {
        "operationId": "socq_facebook_group_posts",
        "summary": "Facebook Group Posts API",
        "description": "Collect posts from public Facebook groups.",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/pages": {
      "post": {
        "operationId": "socq_facebook_pages",
        "summary": "Facebook Page API",
        "description": "Facebook Page API",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/posts": {
      "post": {
        "operationId": "socq_facebook_posts",
        "summary": "Facebook Posts API",
        "description": "Facebook Posts API",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/video-transcript": {
      "post": {
        "operationId": "socq_facebook_transcripts",
        "summary": "Facebook Video Transcripts API",
        "description": "Extract transcripts from public Facebook videos and reels.",
        "tags": [
          "facebook"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/comments": {
      "post": {
        "operationId": "socq_instagram_comments",
        "summary": "Instagram Comments API",
        "description": "Instagram Comments API",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/followers-list": {
      "post": {
        "operationId": "socq_instagram_followers",
        "summary": "Instagram Followers API",
        "description": "Collect public profiles from an Instagram account follower list.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/followers-count": {
      "post": {
        "operationId": "socq_instagram_followers_count",
        "summary": "Instagram Followers Count API",
        "description": "Instagram Followers Count API",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/following-list": {
      "post": {
        "operationId": "socq_instagram_following",
        "summary": "Instagram Following API",
        "description": "Collect public profiles followed by an Instagram account.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/hashtag-posts": {
      "post": {
        "operationId": "socq_instagram_hashtag_posts",
        "summary": "Instagram Hashtag Posts API",
        "description": "Collect public Instagram posts matching a hashtag.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Hashtags with or without the # prefix."
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "published_within": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 10,
                    "maximum": 2000
                  }
                },
                "required": [
                  "hashtags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/posts": {
      "post": {
        "operationId": "socq_instagram_posts",
        "summary": "Instagram Posts API",
        "description": "Instagram Post API",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/profiles": {
      "post": {
        "operationId": "socq_instagram_profiles",
        "summary": "Instagram Profiles API",
        "description": "Collect public Instagram profile metadata and statistics.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/reels": {
      "post": {
        "operationId": "socq_instagram_reels",
        "summary": "Instagram Reels API",
        "description": "Instagram Reel API",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/search": {
      "post": {
        "operationId": "socq_instagram_search",
        "summary": "Instagram Search API",
        "description": "Instagram Search API",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/tagged-posts": {
      "post": {
        "operationId": "socq_instagram_tagged_posts",
        "summary": "Instagram Tagged Posts API",
        "description": "Collect public posts that tag an Instagram profile.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/instagram/transcript": {
      "post": {
        "operationId": "socq_instagram_transcripts",
        "summary": "Instagram Transcripts API",
        "description": "Extract transcripts from public Instagram posts and reels.",
        "tags": [
          "instagram"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/companies": {
      "post": {
        "operationId": "socq_linkedin_companies",
        "summary": "LinkedIn Companies API",
        "description": "LinkedIn Companies API",
        "tags": [
          "linkedin"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/jobs": {
      "post": {
        "operationId": "socq_linkedin_jobs",
        "summary": "LinkedIn Jobs API",
        "description": "LinkedIn Jobs API",
        "tags": [
          "linkedin"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/posts": {
      "post": {
        "operationId": "socq_linkedin_posts",
        "summary": "LinkedIn Posts API",
        "description": "LinkedIn Posts API",
        "tags": [
          "linkedin"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/linkedin/profiles": {
      "post": {
        "operationId": "socq_linkedin_profiles",
        "summary": "LinkedIn Profiles API",
        "description": "LinkedIn Profiles API",
        "tags": [
          "linkedin"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pinterest/pins": {
      "post": {
        "operationId": "socq_pinterest_pins",
        "summary": "Pinterest Pins API",
        "description": "Pinterest Pins API",
        "tags": [
          "pinterest"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pinterest/profiles": {
      "post": {
        "operationId": "socq_pinterest_profiles",
        "summary": "Pinterest Profiles API",
        "description": "Pinterest Profiles API",
        "tags": [
          "pinterest"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pinterest/search": {
      "post": {
        "operationId": "socq_pinterest_search",
        "summary": "Pinterest Search API",
        "description": "Pinterest Search API",
        "tags": [
          "pinterest"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pinterest/user-pins": {
      "post": {
        "operationId": "socq_pinterest_user_pins",
        "summary": "Pinterest User Pins API",
        "description": "Pinterest User Pins API",
        "tags": [
          "pinterest"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reddit/comments": {
      "post": {
        "operationId": "socq_reddit_comments",
        "summary": "Reddit Comments API",
        "description": "Reddit Comments API",
        "tags": [
          "reddit"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reddit/posts": {
      "post": {
        "operationId": "socq_reddit_posts",
        "summary": "Reddit Posts API",
        "description": "Reddit Posts API",
        "tags": [
          "reddit"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reddit/search": {
      "post": {
        "operationId": "socq_reddit_search",
        "summary": "Reddit Search API",
        "description": "Reddit Search API",
        "tags": [
          "reddit"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "published_within": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reddit/subreddit-posts": {
      "post": {
        "operationId": "socq_reddit_subreddit_posts",
        "summary": "Reddit Subreddit Posts API",
        "description": "Reddit Subreddit Posts API",
        "tags": [
          "reddit"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/posts": {
      "post": {
        "operationId": "socq_threads_posts",
        "summary": "Threads Posts API",
        "description": "Threads Posts API",
        "tags": [
          "threads"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/profiles": {
      "post": {
        "operationId": "socq_threads_profiles",
        "summary": "Threads Profiles API",
        "description": "Threads Profiles API",
        "tags": [
          "threads"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/threads/user-posts": {
      "post": {
        "operationId": "socq_threads_user_posts",
        "summary": "Threads User Posts API",
        "description": "Threads User Posts API",
        "tags": [
          "threads"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok-shop/product": {
      "post": {
        "operationId": "socq_tiktok_shop_product",
        "summary": "TikTok Shop Product API",
        "description": "TikTok Shop Product API",
        "tags": [
          "tiktok-shop"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok-shop/product-reviews": {
      "post": {
        "operationId": "socq_tiktok_shop_product_reviews",
        "summary": "TikTok Shop Product Reviews API",
        "description": "TikTok Shop Product Reviews API",
        "tags": [
          "tiktok-shop"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok-shop/products": {
      "post": {
        "operationId": "socq_tiktok_shop_products",
        "summary": "TikTok Shop Products API",
        "description": "TikTok Shop Products API",
        "tags": [
          "tiktok-shop"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok-shop/search": {
      "post": {
        "operationId": "socq_tiktok_shop_search",
        "summary": "TikTok Shop Search API",
        "description": "TikTok Shop Search API",
        "tags": [
          "tiktok-shop"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok-shop/user-showcase": {
      "post": {
        "operationId": "socq_tiktok_shop_user_showcase",
        "summary": "TikTok Shop User Showcase API",
        "description": "TikTok Shop User Showcase API",
        "tags": [
          "tiktok-shop"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public account username."
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/comments": {
      "post": {
        "operationId": "socq_tiktok_comments",
        "summary": "TikTok Comments API",
        "description": "TikTok Comments API",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/hashtags": {
      "post": {
        "operationId": "socq_tiktok_hashtags",
        "summary": "TikTok Hashtags API",
        "description": "TikTok Hashtags API",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "hashtags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Hashtags with or without the # prefix."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  }
                },
                "required": [
                  "hashtags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/live-room-info": {
      "post": {
        "operationId": "socq_tiktok_live_room_info",
        "summary": "TikTok Live Room Info API",
        "description": "Collect public TikTok live room metadata and audience metrics.",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "room_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public live room identifier."
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public account identifier."
                  }
                },
                "required": [
                  "room_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/profiles": {
      "post": {
        "operationId": "socq_tiktok_profiles",
        "summary": "TikTok Profiles API",
        "description": "TikTok Profiles API",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/search": {
      "post": {
        "operationId": "socq_tiktok_search",
        "summary": "TikTok Search API",
        "description": "TikTok Search API",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "published_within": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/transcripts": {
      "post": {
        "operationId": "socq_tiktok_transcripts",
        "summary": "TikTok Video Transcripts API",
        "description": "Extract transcripts from public TikTok videos.",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "language": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/trending-feed": {
      "post": {
        "operationId": "socq_tiktok_trending_feed",
        "summary": "TikTok Trending Feed API",
        "description": "Collect trending TikTok videos for a region.",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 4,
                    "maximum": 2000
                  }
                },
                "required": [
                  "region"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/videos": {
      "post": {
        "operationId": "socq_tiktok_videos",
        "summary": "TikTok Videos API",
        "description": "TikTok Videos API",
        "tags": [
          "tiktok"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/x/posts": {
      "post": {
        "operationId": "socq_x_posts",
        "summary": "X Posts API",
        "description": "X Posts API",
        "tags": [
          "x"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/x/profiles": {
      "post": {
        "operationId": "socq_x_profiles",
        "summary": "X Profiles API",
        "description": "X Profiles API",
        "tags": [
          "x"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/x/search": {
      "post": {
        "operationId": "socq_x_search",
        "summary": "X Search API",
        "description": "X Search API",
        "tags": [
          "x"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/x/user-posts": {
      "post": {
        "operationId": "socq_x_user_posts",
        "summary": "X User Posts API",
        "description": "X User Posts API",
        "tags": [
          "x"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [
                  "usernames"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/youtube/channel-videos": {
      "post": {
        "operationId": "socq_youtube_channel_videos",
        "summary": "YouTube Channel Videos API",
        "description": "YouTube Channel Videos API",
        "tags": [
          "youtube"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
[...]
