{
  "openapi": "3.1.0",
  "info": {
    "title": "SocQ Agent API",
    "version": "v1-d93e6d4f8368",
    "description": "Asynchronous social data API generated from the SocQ Capability Registry."
  },
  "servers": [
    {
      "url": "https://api.socq.ai"
    }
  ],
  "paths": {
    "/v1/amazon/best-sellers": {
      "post": {
        "operationId": "socq_amazon_best_sellers",
        "summary": "Amazon Best Sellers API",
        "description": "Collect public Amazon best sellers.",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-detail": {
      "post": {
        "operationId": "socq_amazon_product_detail",
        "summary": "Amazon Product Details API",
        "description": "Collect public Amazon product details.",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/product-search": {
      "post": {
        "operationId": "socq_amazon_product_search",
        "summary": "Amazon Product Search API",
        "description": "Search public Amazon products.",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  }
                },
                "required": [
                  "domain",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/reviews": {
      "post": {
        "operationId": "socq_amazon_reviews",
        "summary": "Amazon Reviews API",
        "description": "Collect public Amazon reviews.",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/amazon/seller-info": {
      "post": {
        "operationId": "socq_amazon_seller_info",
        "summary": "Amazon Seller Info API",
        "description": "Collect public Amazon seller information.",
        "tags": [
          "amazon"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/SellerItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/app-detail": {
      "post": {
        "operationId": "socq_apple_app_store_app_detail",
        "summary": "Apple App Store App Details API",
        "description": "Collect public Apple App Store app details.",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AppItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/app-reviews": {
      "post": {
        "operationId": "socq_apple_app_store_app_reviews",
        "summary": "Apple App Store Reviews API",
        "description": "Collect public Apple App Store reviews.",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apple-app-store/rankings": {
      "post": {
        "operationId": "socq_apple_app_store_rankings",
        "summary": "Apple App Store Rankings API",
        "description": "Collect public Apple App Store category rankings.",
        "tags": [
          "apple-app-store"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AppItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/post": {
      "post": {
        "operationId": "socq_bluesky_post",
        "summary": "Bluesky Post API",
        "description": "Collect a public Bluesky post.",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A non-empty post reference with an authority component whose parsed hostname is bsky.app or a bsky.app subdomain. Any scheme is accepted when an authority and hostname are present; protocol-relative references are also accepted."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/profile": {
      "post": {
        "operationId": "socq_bluesky_profile",
        "summary": "Bluesky Profile API",
        "description": "Collect a public Bluesky profile.",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A Bluesky username containing 1 to 253 ASCII letters, digits, periods, or hyphens, without a leading @.",
                    "maxLength": 253,
                    "pattern": "^[A-Za-z0-9.-]{1,253}$"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bluesky/user-posts": {
      "post": {
        "operationId": "socq_bluesky_user_posts",
        "summary": "Bluesky User Posts API",
        "description": "Collect one page of public Bluesky user posts.",
        "tags": [
          "bluesky"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A Bluesky decentralized identifier in did:method:identifier form.",
                    "pattern": "^did:[a-z0-9]+:[A-Za-z0-9._:%-]+$"
                  },
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A Bluesky handle containing 1 to 253 ASCII letters, digits, periods, or hyphens, without a leading @.",
                    "maxLength": 253,
                    "pattern": "^[A-Za-z0-9.-]{1,253}$"
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "user_id"
                    ]
                  },
                  {
                    "required": [
                      "username"
                    ]
                  }
                ],
                "allOf": [
                  {
                    "not": {
                      "required": [
                        "user_id",
                        "username"
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/live-room-detail": {
      "post": {
        "operationId": "socq_douyin_live_room_detail",
        "summary": "Douyin Live Room Details API",
        "description": "Collect public Douyin live room details.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/LiveRoomItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "room_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public live room identifier."
                  }
                },
                "required": [
                  "room_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/product-data": {
      "post": {
        "operationId": "socq_douyin_product_data",
        "summary": "Douyin Live Room Products API",
        "description": "Collect one page of public Douyin live room products.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ProductItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "author_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public author identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20
                  },
                  "room_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public live room identifier."
                  }
                },
                "required": [
                  "author_id",
                  "room_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/user-profile": {
      "post": {
        "operationId": "socq_douyin_user_profile",
        "summary": "Douyin Profile API",
        "description": "Collect a public Douyin profile.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public account identifier."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "user_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/user-videos": {
      "post": {
        "operationId": "socq_douyin_user_videos",
        "summary": "Douyin User Videos API",
        "description": "Collect one page of public Douyin user videos.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public account identifier."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "user_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-comments": {
      "post": {
        "operationId": "socq_douyin_video_comments",
        "summary": "Douyin Video Comments API",
        "description": "Collect one page of public Douyin video comments.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 20,
                    "default": 20
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-detail": {
      "post": {
        "operationId": "socq_douyin_video_detail",
        "summary": "Douyin Video Details API",
        "description": "Collect public Douyin video details.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/douyin/video-search": {
      "post": {
        "operationId": "socq_douyin_video_search",
        "summary": "Douyin Video Search API",
        "description": "Search public Douyin videos.",
        "tags": [
          "douyin"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/ad": {
      "post": {
        "operationId": "socq_facebook_ad_library_ad",
        "summary": "Facebook Ad Library Ad API",
        "description": "Facebook Ad Library Ad API",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-ads": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_ads",
        "summary": "Facebook Ad Library Company Ads API",
        "description": "Facebook Ad Library Company Ads API",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "page_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public page identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "page_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/company-search": {
      "post": {
        "operationId": "socq_facebook_ad_library_company_search",
        "summary": "Facebook Ad Library Company Search API",
        "description": "Facebook Ad Library Company Search API",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-ad-library/search": {
      "post": {
        "operationId": "socq_facebook_ad_library_search",
        "summary": "Facebook Ad Library Search API",
        "description": "Facebook Ad Library Search API",
        "tags": [
          "facebook-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "ad_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "media_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "search_type": {
                    "type": "string",
                    "minLength": 1
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "status": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/item": {
      "post": {
        "operationId": "socq_facebook_marketplace_item",
        "summary": "Facebook Marketplace Item API",
        "description": "Facebook Marketplace Item API",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/location-search": {
      "post": {
        "operationId": "socq_facebook_marketplace_location_search",
        "summary": "Facebook Marketplace Location Search API",
        "description": "Facebook Marketplace Location Search API",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/MarketplaceLocationItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook-marketplace/search": {
      "post": {
        "operationId": "socq_facebook_marketplace_search",
        "summary": "Facebook Marketplace Search API",
        "description": "Facebook Marketplace Search API",
        "tags": [
          "facebook-marketplace"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ListingItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "type": "string",
                    "minLength": 1
                  },
                  "condition": {
                    "type": "string",
                    "minLength": 1
                  },
                  "date_listed": {
                    "type": "string",
                    "minLength": 1
                  },
                  "delivery_method": {
                    "type": "string",
                    "minLength": 1
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "longitude": {
                    "type": "number",
                    "minimum": -180,
                    "maximum": 180
                  },
                  "max_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "min_price": {
                    "type": "number",
                    "minimum": 0
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "radius_km": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "latitude",
                  "longitude",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/ad-transcript": {
      "post": {
        "operationId": "socq_facebook_ad_transcript",
        "summary": "Facebook Ad Transcript API",
        "description": "Extract transcripts from public Facebook ads.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comment-replies": {
      "post": {
        "operationId": "socq_facebook_comment_replies",
        "summary": "Facebook Comment Replies API",
        "description": "Collect public Facebook comment replies.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "comment_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public comment identifier."
                  },
                  "expansion_token": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The token used to read replies for a Facebook comment."
                  },
                  "feedback_id": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The parent Facebook comment feedback identifier."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "comment_id",
                      "url"
                    ]
                  },
                  {
                    "required": [
                      "expansion_token",
                      "feedback_id"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/comments": {
      "post": {
        "operationId": "socq_facebook_comments",
        "summary": "Facebook Comments API",
        "description": "Facebook Comments API",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/CommentItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/company-reviews": {
      "post": {
        "operationId": "socq_facebook_company_reviews",
        "summary": "Facebook Company Reviews API",
        "description": "Collect public Facebook company reviews.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/event-details": {
      "post": {
        "operationId": "socq_facebook_event_details",
        "summary": "Facebook Event Details API",
        "description": "Collect public Facebook event details.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/events-search": {
      "post": {
        "operationId": "socq_facebook_events_search",
        "summary": "Facebook Events Search API",
        "description": "Search public Facebook events by keyword.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 7,
                    "maximum": 2000
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/group-posts": {
      "post": {
        "operationId": "socq_facebook_group_posts",
        "summary": "Facebook Group Posts API",
        "description": "Collect posts from public Facebook groups.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "results_limit": {
                    "type": "integer",
                    "minimum": 3,
                    "maximum": 2000
                  },
                  "sort_by": {
                    "type": "string",
                    "minLength": 1
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/pages": {
      "post": {
        "operationId": "socq_facebook_pages",
        "summary": "Facebook Page API",
        "description": "Facebook Page API",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/posts": {
      "post": {
        "operationId": "socq_facebook_posts",
        "summary": "Facebook Posts API",
        "description": "Facebook Posts API",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PostItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public account usernames."
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "query"
                    ]
                  },
                  {
                    "required": [
                      "urls"
                    ]
                  },
                  {
                    "required": [
                      "usernames"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-events": {
      "post": {
        "operationId": "socq_facebook_profile_events",
        "summary": "Facebook Profile Events API",
        "description": "Collect public Facebook profile events.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/EventItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profile-photos": {
      "post": {
        "operationId": "socq_facebook_profile_photos",
        "summary": "Facebook Profile Photos API",
        "description": "Collect public Facebook profile photos.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/profiles": {
      "post": {
        "operationId": "socq_facebook_profiles",
        "summary": "Facebook Profiles API",
        "description": "Collect public Facebook profile details.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AccountItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/reels": {
      "post": {
        "operationId": "socq_facebook_reels",
        "summary": "Facebook Reels API",
        "description": "Collect public Facebook profile reels.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReelVideoItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 20,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/facebook/video-transcript": {
      "post": {
        "operationId": "socq_facebook_video_transcript",
        "summary": "Facebook Video Transcripts API",
        "description": "Extract transcripts from public Facebook videos and reels.",
        "tags": [
          "facebook"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/TranscriptItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "Public profile or content URLs."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/ad": {
      "post": {
        "operationId": "socq_google_ad_library_ad",
        "summary": "Google Ad Library Ad API",
        "description": "Collect public Google ad details.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "description": "A public content or product URL."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/advertiser-search": {
      "post": {
        "operationId": "socq_google_ad_library_advertiser_search",
        "summary": "Google Ad Library Advertiser Search API",
        "description": "Search public Google advertisers.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdvertiserItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Search query."
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-ad-library/company-ads": {
      "post": {
        "operationId": "socq_google_ad_library_company_ads",
        "summary": "Google Ad Library Company Ads API",
        "description": "Collect public Google company ads.",
        "tags": [
          "google-ad-library"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/AdItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "advertiser_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1
                  },
                  "end_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "format": {
                    "type": "string",
                    "minLength": 1
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1
                  },
                  "region": {
                    "type": "string",
                    "minLength": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 40,
                    "maximum": 2000,
                    "default": 40,
                    "multipleOf": 40
                  },
                  "start_date": {
                    "type": "string",
                    "minLength": 1
                  },
                  "topic": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [],
                "anyOf": [
                  {
                    "required": [
                      "advertiser_id"
                    ]
                  },
                  {
                    "required": [
                      "domain"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/place-details": {
      "post": {
        "operationId": "socq_google_maps_place_details",
        "summary": "Google Maps Place Details API",
        "description": "Collect public Google Maps place details.",
        "tags": [
          "google-maps"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PlaceItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "A non-empty list of references whose parsed hostname is google.com, goo.gl, or a subdomain of either host. Any scheme is accepted when an authority and hostname are present; protocol-relative references are also accepted, and no specific path is required."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/reviews": {
      "post": {
        "operationId": "socq_google_maps_reviews",
        "summary": "Google Maps Reviews API",
        "description": "Collect public Google Maps reviews.",
        "tags": [
          "google-maps"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/ReviewItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "days_limit": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "results_limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2000,
                    "default": 100
                  },
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1,
                    "description": "A non-empty list of references whose parsed hostname is google.com, goo.gl, or a subdomain of either host. Any scheme is accepted when an authority and hostname are present; protocol-relative references are also accepted, and no specific path is required."
                  }
                },
                "required": [
                  "urls"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Input validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/google-maps/search": {
      "post": {
        "operationId": "socq_google_maps_search",
        "summary": "Google Maps Search API",
        "description": "Search public Google Maps places.",
        "tags": [
          "google-maps"
        ],
        "x-standard-result-item-schema": {
          "$ref": "#/components/schemas/PlaceItem"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "country": {
                    "type": "string",
                    "minLength": 1
                  },
                  "latitude": {
                    "type": "number",
                    "minimum": -90,
                    "maximum": 90
                  },
                  "location": {
                    "type": "string",
[...]
