{
  "openapi": "3.0.0",
  "info": {
    "title": "Agent API",
    "description": "Asynchronous social data collection API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.socq.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/instagram/posts": {
      "post": {
        "summary": "Submit Instagram Posts task",
        "description": "Collect public Instagram post data.",
        "operationId": "submitInstagramPostsTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Instagram Posts task",
                  "value": {
                    "results_limit": 10,
                    "usernames": [
                      "instagram"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "results_limit": 10,
                    "callback_url": "https://your-domain.com/webhook",
                    "usernames": [
                      "instagram"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/instagram/reels": {
      "post": {
        "summary": "Submit Instagram Reels task",
        "description": "Collect public Instagram reel data.",
        "operationId": "submitInstagramReelsTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Instagram Reels task",
                  "value": {
                    "results_limit": 10,
                    "usernames": [
                      "instagram"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "results_limit": 10,
                    "callback_url": "https://your-domain.com/webhook",
                    "usernames": [
                      "instagram"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/instagram/search": {
      "post": {
        "summary": "Submit Instagram Search task",
        "description": "Search public Instagram profiles for username and creator discovery workflows.",
        "operationId": "submitInstagramSearchTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Instagram Search task",
                  "value": {
                    "query": "instagram",
                    "results_limit": 20
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "query": "instagram",
                    "results_limit": 20,
                    "callback_url": "https://your-domain.com/webhook"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/instagram/followers-count": {
      "post": {
        "summary": "Submit Instagram Followers Count task",
        "description": "Collect public follower and following counts for Instagram profiles.",
        "operationId": "submitInstagramFollowersCountTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Instagram Followers Count task",
                  "value": {
                    "usernames": [
                      "instagram"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "callback_url": "https://your-domain.com/webhook",
                    "usernames": [
                      "instagram"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/instagram/comments": {
      "post": {
        "summary": "Submit Instagram Comments task",
        "description": "Collect public Instagram comment data.",
        "operationId": "submitInstagramCommentsTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsSubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Instagram Comments task",
                  "value": {
                    "urls": [
                      "https://www.instagram.com/p/POST_CODE/"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "callback_url": "https://your-domain.com/webhook",
                    "urls": [
                      "https://www.instagram.com/p/POST_CODE/"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/facebook/pages": {
      "post": {
        "summary": "Submit Facebook Pages task",
        "description": "Collect public Facebook page data.",
        "operationId": "submitFacebookPagesTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Facebook Pages task",
                  "value": {
                    "urls": [
                      "https://www.facebook.com/facebook"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "callback_url": "https://your-domain.com/webhook",
                    "urls": [
                      "https://www.facebook.com/facebook"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/facebook/posts": {
      "post": {
        "summary": "Submit Facebook Posts task",
        "description": "Collect public Facebook post data.",
        "operationId": "submitFacebookPostsTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Facebook Posts task",
                  "value": {
                    "results_limit": 10,
                    "urls": [
                      "https://www.facebook.com/facebook/posts/POST_ID"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "results_limit": 10,
                    "callback_url": "https://your-domain.com/webhook",
                    "urls": [
                      "https://www.facebook.com/facebook/posts/POST_ID"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/facebook/comments": {
      "post": {
        "summary": "Submit Facebook Comments task",
        "description": "Collect public Facebook comment data.",
        "operationId": "submitFacebookCommentsTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsSubmitRequest"
              },
              "examples": {
                "default": {
                  "summary": "Submit Facebook Comments task",
                  "value": {
                    "urls": [
                      "https://www.facebook.com/facebook/posts/POST_ID"
                    ]
                  }
                },
                "with_callback": {
                  "summary": "With callback URL",
                  "value": {
                    "callback_url": "https://your-domain.com/webhook",
                    "urls": [
                      "https://www.facebook.com/facebook/posts/POST_ID"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/v1/youtube/channels": {
      "post": {
        "summary": "Submit YouTube Channels task",
        "operationId": "submitYouTubeChannelsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeUrlsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/videos": {
      "post": {
        "summary": "Submit YouTube Videos task",
        "operationId": "submitYouTubeVideosTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeUrlsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/channel-videos": {
      "post": {
        "summary": "Submit YouTube Channel Videos task",
        "operationId": "submitYouTubeChannelVideosTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeUrlsLimitRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/comments": {
      "post": {
        "summary": "Submit YouTube Comments task",
        "operationId": "submitYouTubeCommentsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeCommentsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/shorts": {
      "post": {
        "summary": "Submit YouTube Shorts task",
        "operationId": "submitYouTubeShortsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeUrlsLimitRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/search": {
      "post": {
        "summary": "Submit YouTube Search task",
        "operationId": "submitYouTubeSearchTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeSearchRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/youtube/transcripts": {
      "post": {
        "summary": "Submit YouTube Transcripts task",
        "operationId": "submitYouTubeTranscriptsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YouTubeTranscriptsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tiktok/profiles": {
      "post": {
        "summary": "Submit TikTok Profiles task",
        "operationId": "submitTikTokProfilesTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TikTokProfilesRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tiktok/videos": {
      "post": {
        "summary": "Submit TikTok Videos task",
        "operationId": "submitTikTokVideosTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TikTokUrlsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tiktok/comments": {
      "post": {
        "summary": "Submit TikTok Comments task",
        "operationId": "submitTikTokCommentsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TikTokCommentsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tiktok/search": {
      "post": {
        "summary": "Submit TikTok Search task",
        "operationId": "submitTikTokSearchTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TikTokSearchRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tiktok/hashtags": {
      "post": {
        "summary": "Submit TikTok Hashtags task",
        "operationId": "submitTikTokHashtagsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TikTokHashtagsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/x/profiles": {
      "post": {
        "summary": "Submit X Profiles task",
        "operationId": "submitXProfilesTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/XProfilesRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/x/posts": {
      "post": {
        "summary": "Submit X Posts task",
        "operationId": "submitXPostsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/XPostsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/x/user-posts": {
      "post": {
        "summary": "Submit X User Posts task",
        "operationId": "submitXUserPostsTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/XUserPostsRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/x/search": {
      "post": {
        "summary": "Submit X Search task",
        "operationId": "submitXSearchTask",
        "tags": ["Agent API"],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/XSearchRequest"}}}},
        "responses": {"200": {"$ref": "#/components/responses/TaskSubmitted"}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "402": {"$ref": "#/components/responses/PaymentRequired"}}
      }
    },
    "/v1/tasks/{task_id}": {
      "get": {
        "summary": "Get task status and results",
        "description": "Check task status. When the task has succeeded, the response includes cursor-paginated normalized records under data.results.",
        "operationId": "getAgentTask",
        "tags": [
          "Agent API"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and optional results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tasks/{task_id}/files": {
      "get": {
        "summary": "List task files",
        "description": "List raw result files for a task.",
        "operationId": "listAgentTaskFiles",
        "tags": [
          "Agent API"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskId"
          }
        ],
        "responses": {
          "200": {
            "description": "Task files",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "parameters": {
      "TaskId": {
        "name": "task_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "example": "A1B2C3D4E5F6G7H8"
        },
        "description": "Task ID returned by the submit endpoint"
      },
      "Page": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "description": "Page number"
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "description": "Items per page"
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "nullable": true
        },
        "description": "Cursor returned by the previous data.results.next_cursor. Omit for the first page."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 500,
          "default": 50
        },
        "description": "Maximum number of result records to return."
      }
    },
    "schemas": {
      "SubmitRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of public URLs to collect."
          },
          "usernames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of public usernames to collect."
          },
          "query": {
            "type": "string",
            "description": "Search query"
          },
          "results_limit": {
            "type": "integer",
            "minimum": 1,
            "description": "Maximum number of results to collect"
          },
          "callback_url": {
            "type": "string",
            "description": "Optional callback URL"
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string",
                "example": "A1B2C3D4E5F6G7H8"
              },
              "status": {
                "type": "string",
                "example": "queued"
              },
              "created_time": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CommentsSubmitRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "urls": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Array of public post URLs to collect comments from."
          },
          "callback_url": {
            "type": "string",
            "description": "Optional callback URL"
          }
        },
        "required": [
          "urls"
        ]
      },
      "YouTubeUrlsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public YouTube URLs."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "YouTubeUrlsLimitRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public YouTube channel URLs."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100, "description": "Maximum results to collect per URL."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "YouTubeCommentsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public YouTube video URLs."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100, "description": "Maximum comments to collect per video URL."},
          "sort_by": {"type": "string", "enum": ["relevance", "newest"], "default": "newest"},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "YouTubeSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["query"],
        "properties": {
          "query": {"type": "string", "minLength": 1, "description": "YouTube search query."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100},
          "sort_by": {"type": "string", "enum": ["relevance", "date", "rating", "view_count"], "default": "relevance"},
          "published_within": {"type": "string", "enum": ["hour", "day", "week", "month", "year"]},
          "duration": {"type": "string", "enum": ["short", "medium", "long"]},
          "has_captions": {"type": "boolean"},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "YouTubeTranscriptsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public YouTube video URLs."},
          "language": {"type": "string", "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$", "description": "Optional preferred BCP-47 transcript language."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TikTokProfilesRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["usernames"],
        "properties": {
          "usernames": {"type": "array", "minItems": 1, "items": {"type": "string", "minLength": 1}, "description": "Public TikTok usernames. A leading @ is optional."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TikTokUrlsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public TikTok video URLs."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TikTokCommentsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public TikTok video URLs."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100, "description": "Maximum top-level comments to collect per video URL."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TikTokSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["query"],
        "properties": {
          "query": {"type": "string", "minLength": 1, "description": "TikTok video search query."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100},
          "sort_by": {"type": "string", "enum": ["relevance", "date", "likes"], "default": "relevance"},
          "published_within": {"type": "string", "enum": ["day", "week", "month", "three_months", "six_months"]},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TikTokHashtagsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["hashtags"],
        "properties": {
          "hashtags": {"type": "array", "minItems": 1, "items": {"type": "string", "minLength": 1}, "description": "Hashtags to collect videos for. A leading # is optional."},
          "results_limit": {"type": "integer", "minimum": 1, "default": 100, "description": "Maximum videos to collect per hashtag."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "XProfilesRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["usernames"],
        "properties": {
          "usernames": {"type": "array", "minItems": 1, "items": {"type": "string", "minLength": 1}, "description": "Public X usernames. A leading @ is optional."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "XPostsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {"type": "array", "minItems": 1, "items": {"type": "string", "format": "uri"}, "description": "Public X post URLs."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "XUserPostsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["usernames"],
        "properties": {
          "usernames": {"type": "array", "minItems": 1, "items": {"type": "string", "minLength": 1}, "description": "Public X usernames. A leading @ is optional."},
          "results_limit": {"type": "integer", "minimum": 20, "maximum": 2000, "multipleOf": 20, "default": 20, "description": "Maximum posts to collect per username."},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "XSearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["query"],
        "properties": {
          "query": {"type": "string", "minLength": 1, "description": "X post search expression."},
          "results_limit": {"type": "integer", "minimum": 20, "maximum": 2000, "multipleOf": 20, "default": 20},
          "sort_by": {"type": "string", "enum": ["latest", "top"], "default": "latest"},
          "callback_url": {"type": "string", "format": "uri", "description": "Optional callback URL."}
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "$ref": "#/components/schemas/Task"
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "page_size": {
                "type": "integer"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "succeeded",
              "failed"
            ]
          },
          "result_count": {
            "type": "integer"
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "credits_amount": {
            "type": "number"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "finished_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "results": {
            "$ref": "#/components/schemas/ResultList",
            "description": "Cursor-paginated normalized records. Present only when status is succeeded."
          }
        }
      },
      "ResultFile": {
        "type": "object",
        "properties": {
          "file_type": {
            "type": "string",
            "example": "raw_jsonl"
          },
          "public_url": {
            "type": "string"
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          },
          "item_count": {
            "type": "integer"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ResultList": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "example": 50
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "example": "NTY3ODkw"
          },
          "has_more": {
            "type": "boolean",
            "example": true
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResultItem"
            }
          }
        },
        "required": [
          "limit",
          "has_more",
          "items"
        ]
      },
      "ResultItem": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "platform": {
            "type": "string"
          },
          "resource": {
            "type": "string",
            "description": "Product resource, such as posts, comments, reels, search, followers-count, or pages."
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "metrics": {
            "type": "object",
            "description": "Normalized metric names, such as likes_count, comments_count, followers_count, or views_count.",
            "additionalProperties": true
          },
          "media": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "extra": {
            "type": "object",
            "description": "Low-frequency or source-specific values that are not part of the stable core fields.",
            "additionalProperties": true
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "data": {
            "type": "object",
            "properties": {
              "task_id": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ResultFile"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "TaskSubmitted": {
        "description": "Task submitted",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/SubmitResponse"}
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Insufficient credits",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
